/*------------------------------------*\
    $FONT FAMILIES
\*------------------------------------*/

@font-face {
  font-family: 'SpartanMB';
  font-weight: 100;
  src: local('SpartanMB ExtraLight'), local('SpartanMB-ExtraLight'),
       url('../fonts/SpartanMB-ExtraLight.otf') format('otf');
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: 200;
  src: local('SpartanMB Thin'), local('SpartanMB-Thin'),
       url('../fonts/SpartanMB-Thin.otf') format('otf');
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: 300;
  src: local('SpartanMB Light'), local('SpartanMB-Light'),
       url('../fonts/SpartanMB-Light.otf') format('otf');
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: 400;
  src: local('SpartanMB Regular'), local('SpartanMB-Regular'),
       url('../fonts/SpartanMB-Regular.otf') format('otf');
}
@font-face {
  font-family: 'SpartanMB';
  font-weight: 500;
  src: local('SpartanMB Medium'), local('SpartanMB-Medium'),
       url('../fonts/SpartanMB-Mediu .otf') format('otf');
}
@font-face {
  font-family: 'SpartanMB';
  font-weight: 600;
  src: local('SpartanMB SemiBold'), local('SpartanMB-SemiBold'),
       url('../fonts/SpartanMB-SemiBold.otf') format('otf');
}
@font-face {
  font-family: 'SpartanMB';
  font-weight: 700;
  src: local('SpartanMB Bold'), local('SpartanMB-Bold'),
       url('../fonts/SpartanMB-Bold.otf') format('otf');
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: 800;
  src: local('SpartanMB ExtraBold'), local('SpartanMB-ExtraBold'),
       url('../fonts/SpartanMB-ExtraBold.otf') format('otf');
}
